{*
{
  padding: 0;
  margin: 0;
  font-family: "Arial";
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body,html
{
  height: 100%;
  background-color:rgb(77, 80, 97);
}

#titulo
{
  padding-top: 5px;
  padding-bottom: 5px;
  background: url(../img/madera4.jpg) no-repeat center center brown;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: black;
  z-index: 100;
  font-size: 30px;
  filter:drop-shadow(6px 6px 2px rgba(0,0,0,0.4)) ;
}

.fondo
{
  background: url(../img/pizarron.jpg) repeat center center fixed darkgreen; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}

footer
{
  position: fixed bottom;
  color: gray;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  background-color: rgb(77, 80, 97);
  font-size: 20px;
}
footer a
{
  color: silver;
  text-decoration: none;
}

#separacion1
{
  background-color:silver;
  width: 50%;
  margin:auto;
  height: 1px;
  border:none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#separacion2
{
  margin-top: 5px;
  background-color:silver;
  width: 25%;
  margin:auto;
  height: 1px;
  border:none;
  margin-bottom: 5px;
}

#tabla
{
  border:solid white 2px;
  z-index: 100;
  position: absolute;
}